.env
.venv/
__pycache__/
*.pyc
*.db
tempCodeRunnerFile.py
resumes/
# Flutter build artifacts
resume_analyzer_frontend/.dart_tool/
resume_analyzer_frontend/build/
resume_analyzer_frontend/.flutter-plugins-dependencies
resume_analyzer_frontend/.flutter-plugins
